#product-area{
    margin-top: 80px;
}
#product-area .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

#product-area .product{
    max-width: 1800px;
    margin: 0 auto;
    
}
#product-area .filter{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
#product-area .filter button{
    width: 150px;
    height: 40px;
    background-color: rgb(11, 141, 248);
    border: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#product-area .filter input{
    width: 600px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid gray;
}


@media screen and (max-width:762px) {
    #product-area{
    margin-top: 480px;
}
#product-area .filter button{
    width: 100%;
 
}

#product-area .filter input{
    width: 100%;
}
#product-area .products{
justify-content: center;
}
#product-area .filter{
    padding: 20px;
    gap: 10px;
}

}


