Table{
    text-align: center;
}
td,th{
    vertical-align: middle;
}
.mnsBtn, .plsBtn{
    height: 30px;
    width: 30px;
    background-color: orange;
    font-weight: bold;
    color: white;
    border: none;
}
.count-area{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.image{
    width: 300px;
    height: 230px;
}
.count{
    font-weight: bold;
}
.total{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}