#detail-area .image{
    width: 400px;
    height: 400px;
}
#detail-area .card{
display: flex;
justify-content: center;
align-items: center;
}

#detail-area .content{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 10px;
}
#detail-area .content .title{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#detail-area .content .price{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-weight: bold;
}
#detail-area .content .addCard{
    border: none;
    height: 40px;
    width: 140px;
    background-color: red;
    color: whitesmoke;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
}
