#basket-area .image{
    width: 159px;
    height: 113px;
}
Table{
    text-align: center;
    margin-top: 20px;
}
td{
    vertical-align: middle;
}
.desc{
    width: 450px;
    text-align: justify;
}
.create{
    margin-top: 20px;
    width: 140px;
    margin-left: 10px;
}
Form{
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: -35%;
}
